/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* Font Import */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800'); */
/* Font Import */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a.text-dark:hover {
    color: #ffffff !important;
}
.main-menu {
    background: #91262f !important;
}

.box-shadow {
    color: #ffffff !important;
}

.nav-anchor {
    color: #ffffff !important;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.nav-anchor:hover, .nav-anchor:active, .nav-anchor:focus, .nav-anchor:active:focus {
    color: #ffffff;
}
/* Sticky footer styles
-------------------------------------------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, form, label, table, tbody, tfoot, thead, tr, th, td, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
/* Dashboard */
.db-box {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 30px;
}

    .db-box:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        background: #00bbb5;
        left: 0;
        top: 0;
    }

    .db-box > h2 > span {
        font-size: 15px;
        color: #777;
   
    }

.fig-facts {
    color: #777;
    font-size: 17px;
    font-weight: bold;
}

.cl2:after {
    background: #f47121;
}

.cl3:after {
    background: #0085af;
}

.cl4:after {
    background: #616161;
}

.db-row {
    height: 40%;
    margin-bottom: 10px
}

.db-row {
    height: 40%;
    margin-bottom: 10px
}

.grid-heading {
    display: inline-block;
    width: 100%;
    background: #c6c9d0;
    position: relative;
    padding: 10px 15px;
    min-height: 40px;
}

.grid-heading h4 {
    color: #535a68;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
}


/*table Common */
table {
    background: #fff;
    width: 100% !important;
    margin:0 0 15px !important;
     margin: 0 0 0px !important;
}

table th {
    background: #1a2942;
    font-size: 0.8rem;
    color: #fff;
    font-weight: 600;
}
table .btn {
    padding: 6px 8px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th, datatable-header-cell, datatable-body-cell {
    border: none;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 8px 8px !important;
}

.table-bordered > tbody > tr > td:first-child, .table-bordered > tfoot > tr > td:first-child, datatable-header-cell:first-child, datatable-body-cell:first-child {
    border-left: 1px solid #ddd;
}

.table-bordered > tbody > tr:last-child > td {
    border-bottom: 1px solid #ddd;
}

.grid-box {
    display: inline-block;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    margin: 0 0 15px;
}

.grid-inner {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.form-row {
    display: inline-block;
    width: 100%;
    margin: 0 0 0px 0;
}
.custom-col {
    padding: 10px 20px !important;

}
/* Footer */
footer {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1a2942;
    padding: 13px 0;
    text-align: center;
}

    footer p {
        color: #fff;
    }
/* Footer */

/* Buttons */
.btn-lg {
    padding: 8px 10px;
    font-size: 15px;
    min-width: 100px;
    font-weight: 600;
}
.btn {
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 0 0 8px;
}
.red-btn {
    background: #d0202f;
    color: #fff;
    font-size: 12px;
}

.red-btn:hover, .red-btn:active, .red-btn:focus {
    background: #b91927;
    color: #fff;
}

.green-btn {
    background: #00bbb5;
    background-color: #00bbb5;
    color: #fff;
    font-size: 12px;
}

.green-btn:hover, .green-btn:active, .green-btn:focus {
    background: #019792;
    color: #fff;
}


.green-btn-add {
    background: #00bbb5;
    color: #fff;
    font-size: 12px;
    padding: 6px 10px;
}

.green-btn-add:hover, .green-btn-add:active, .green-btn-add:focus, .green-btn-add:active:focus {
    background: #019792;
    color: #fff;
}

.grey-btn {
    background: #767571;
    color: #fff;
    font-size: 12px;
}

.grey-btn:hover, .grey-btn:active, .grey-btn:focus {
    background: #484944;
    color: #fff;
}

.red-btn-add {
    background: #d0202f;
    color: #fff;
    font-size: 12px !important;
    padding: 6px 8px !important;
}

.red-btn-add:hover, .red-btn-add:active, .red-btn-add:focus, .red-btn-add:active:focus {
    background: #d0202f;
    color: #fff;
}

