@page
@{ 
    ViewData["Title"] = "CategoryType page";

}   


<div  class="grid-box">
    <div class="grid-heading">
     <h4>CategoryType List</h4>
    </div>
  <div class="grid-inner">
   
    <!-- Form Row Ends -->

    <div class="form-row">
      <div class="row">
        <div class="col-md-12 col-xs-12 table-col">
          <div class="table-responsive">
             <table class=" table table-bordered table-stripped">
              <thead>
                    <tr>
                        <th>Name Token</th>
                        <th>Description</th>
                        <th>Category Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < 4; i++)
                    {
                       
                        <tr>
                          
                        </tr>
                    }
                </tbody>
            </table>
          </div>
          <!-- Table Ends -->
        </div>
      </div>
    </div>
    <!-- Form Row ENds -->

  </div>
  <!-- Grid Inner Ends -->

</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.href.indexOf("Edit") > -1) {
                $('#editCTInput').prop('disabled', true);
                $("#addCTButton").prop('value', 'Edit');
            }
        });
       
</script> 
}
