@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="form-group">
    <div class="row">
        <div class="col-md-6 col-xs-12 db-row">
            <div class="db-box cl1">
                <h2>Total Books</h2>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 db-row">
            <div class="db-box cl3">
                <h2>Currenty Reading Books</h2>

            </div>
        </div>
        <div class="col-md-6 col-xs-12 db-row">
            <div class="db-box cl2">
                <h2>Books To be read</h2>

            </div>
        </div>
        <div class="col-md-6 col-xs-12 db-row">
            <div class="db-box cl4">
                <h2>Read Books</h2>

            </div>
        </div>
    </div>
</div>